$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower
@font-face {
  font-family: Roboto-Bold;
  src: url(fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: url(fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: Title;
  src: url(fonts/NexaRustSlab.otf);
}

// COLORS
  // Darkest: #3F3B36
// Dark : #7F786D
// Light : #FEEEDA
// Less Light: #E5D7C4

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html, body { height: 100%; margin: 0; padding: 0; }

body {
  background-color: #FFF;
  font-family: Roboto-Light;
}
p {
  color: #7F786D;
}
a {
  color: #7F786D;
  font-weight: bold;
}
h1,h2,h3,h4 {
  color: #7F786D;
}
// HOME
.fa-home {
  font-size: 50px;
  position: absolute;
  top: 20px;
  left: 20px;
  color: #7F786D;
}
.home {
  max-width: 400px;
}
.Nexa {
  font-family: Title;
}

.homebutton {
  width: 120px;
  height: 120px;
  margin: 1vh;
  background-color: #7F786D;
  position: relative;
  border-radius: 2px;
}
.homebutton img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.homebutton p {
  position: absolute;
  top: 10px;
  left: 100px;
  text-align: center;
  font-family: Roboto-Bold;
  font-size: 30pt;
  color: #3F3B36;
}
.homebutton i {
  font-size: 30px;
  color: #000;
}
// DETAIL
.width100 {
  width: 100%;
}
.centerIMG{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#countrylist li {
  text-align: center;
}
.statistics img {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.statistics p,h3,h1 {
  text-align: center;
}
.statistics p {
  font-size: larger;
}
.causes {
  margin-top: 5vh;
  text-align: center;
}
.causes p {
  font-size: larger;
}
#favo {
  color: #7F786D;
  font-size: 50px;
  top:0;
  right: 25px;
  position: absolute;
}
.titlefavo {
  margin-bottom: 25px;
  position: relative;
}
.flagfavo {
  top: 0;
  right: 0;
  position: absolute;
}
.detail {
  position: relative;
}
// WORLD
.world {
  position: relative;
}
// TABLE
#table_id_wrapper {
  color: #7F786D;
  font-size: medium;
  margin-top: 50px;
}
#table_id {
  width: 100%;
}
#table_id_wrapper select,input{
  color: black;
}
#table_id_wrapper a {
  margin-right: 5px;
}

#table_id td {
  border-left: solid 1px #7F786D;
  border-right: solid 1px #7F786D;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 10px;
  text-align: center;
}
#table_id th {
  text-align: center;

}
.table.dataTable {
  width: 100%;
}
.table {
  position: relative;
}
#worldicon {
  font-size: 25px;
  color: #7F786D;
  border: solid 1px #7F786D;
  padding: 5px;
  border-radius: 2px;
  right: 2px;
  top: -40px;
  position: absolute;

}
.paginate_button span {
  display: none;
}
// GOOGLE MAPS
#map {
  height: 70vh;
  width: 100%;
  margin-top: 60px;
}
.switch {
  font-size: 25px;
  color: #7F786D;
  border: solid 1px #7F786D;
  padding: 5px;
  border-radius: 2px;
  right: 2px;
  top: -50px;
  position: absolute;
}
// LE

.slider.slider-horizontal {

  height: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;

}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1000px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.view {
  display: none;
}
.view.home {
  display: block;
}
.hidden {
  display: hidden;
}
/* Preloader with Bootstrap Progress Bar
-----------------------------------------------*/
.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: url(&#39;https://6ed03b3e7ee716b29bc2dee79aafb8179ed53b19-www.googledrive.com/host/0B9VLbslO6g64UnFTUlQzWDVMdXM&#39;) 50% 50% no-repeat rgb(249,249,249);
}
.loader-container {
  width: 600px;
  height: 200px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  text-align: center;
}

